# Ignore the local virtual environment directory (if using PIPENV_VENV_IN_PROJECT)
.venv/

# Ignore local environment variables containing secrets
.env

# DO NOT ignore these files (Keep them in source control)
!Pipfile
!Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/

# IDEs
.vscode/
.idea/


